.row
  .col-md-3
  .col-md-6
    h2 = t('.title', resource: resource_class.model_name.human)
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :title, autofocus: true, collection: ['Herr', 'Frau', 'Mr. Badass', 'Mrs. Badass'], selected: 'Mr. Badass'
        = f.input :name
        = f.input :last_name
        = f.input :email, required: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          p
            = t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)
        = f.input :password, autocomplete: 'off', hint: t('.leave_blank_if_you_don_t_want_to_change_it'), required: false
        = f.input :password_confirmation, required: false
        = f.input :current_password, hint: t('.we_need_your_current_password_to_confirm_your_changes'), required: true
      .form-actions
        = f.button :submit, t('.update'), class: 'btn-danger'
    h3
      = t('.cancel_my_account')
    p
      = t('.unhappy')
      = link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete
    = link_to t('devise.shared.links.back'), :back
  .col-md-3
