.row
  .col-md-3
  .col-md-6
    h2 = t('.sign_up')
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :title, autofocus: true, collection: ['Herr', 'Frau', 'Mr. Badass', 'Mrs. Badass'], selected: 'Mr. Badass', required: true
        = f.input :name, required: true
        = f.input :last_name, required: true
        = f.input :email, required: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true
      .form-actions
        = f.button :submit, t('.sign_up'), class: 'btn-danger'
    = render 'devise/shared/links'
  .col-md-3