.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to root_url, class: 'navbar-brand' do
        = email_image_tag('ruby.svg', alt: 'Ruby of the Day')
        span Ruby of the Day