.row
  .col-md-2
  .col-md-8
    .jumbotron
      h2.text-danger.jumbo-danger-heading= t('account_locked')
      p
        strong= t('reason')
        = t('account_locked_explanation')
      p
        a.btn.btn-danger.btn-lg[href="mailto:admin@rubyoftheday.de"] admin@rubyoftheday.de
  .col-md-2