h2 List of all users
div.table-responsive
  table.table.table-striped.table-hover.table-condensed
    thead
      tr
        th= t('table_name')
        th= t('table_registered')
        th Admin?
        th= t('table_active')
        th
    tbody
      - for user in @users
        tr
          td = user.shortened_name
          td = l(user.created_at, format: :short)
          td = user.is_admin? ? t('yes') : t('no')
          td = check_box_tag user.id, user.is_activated, user.is_activated, class: 'activate-account', disabled: user.is_admin?
          td = link_to t('delete'), delete_user_path(id: user.id), method: :delete,
                  data: {confirm: t('confirm_delete_user', user_name: user.name)} unless user.is_admin?

= paginate @users