= render 'shared/show_user_method'
br
.row
  .col-md-6
    h3= t('send_methods')
    div.table-responsive
      table.table.table-condensed
        thead
          tr
            th = t('sent_at')
            th = t('method')
        tbody
          - @methods.each do |method|
            tr
              td = l method.get_created_date(current_user.id), format: :short
              td
                = method.name
                small = " [#{method.ruby_class}]"
  .col-md-6
    h3= t('search')
    = form_tag users_path, method: 'get', id: 'search-form' do
      = text_field_tag :search, params[:search], placeholder: t('search_placeholder')
      = submit_tag t('do_search'), class: 'btn btn-default btn-sm'