.row
  .col-md-3
  .col-md-6
    h2 = t('.change_your_password')
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .form-inputs
        = f.input :password, label: t('.new_password'), required: true, autofocus: true, , hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, label: t('.confirm_new_password'), required: true
      .form-actions
        = f.button :submit, t('.change_my_password'), class: 'btn-danger'
    = render 'devise/shared/links'
  .col-md-3
