.row
  .col-md-3
  .col-md-6
    h2 = t('.forgot_your_password')
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, t('.send_me_reset_password_instructions'), class: 'btn-danger'
    = render 'devise/shared/links'
  .col-md-3
