.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed type='button' data-toggle='collapse' data-target='#navbar-collapse'
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'ruby.svg', alt: 'Ruby of the day'
        span Ruby of the Day

    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          li = link_to t('users'), users_path if current_user.is_admin?
          li.dropdown.btn-group
            a.dropdown-toggle data-toggle='dropdown' href='#'
              = current_user.email
              span.caret
            ul.dropdown-menu role='menu'
              li= link_to t('show_profile'), user_profile_path(user_id: current_user.id)
              li= link_to t('change_profile'), edit_user_registration_path
              li= link_to t('logout'), destroy_user_session_path, method: :delete
        - else
          li= link_to t('login'), new_user_session_path
          li= link_to t('sign_up'), new_user_registration_path
        li.dropdown.btn-group
          = link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do
            span.lang-sm[lang="#{I18n.locale}"]
          ul.dropdown-menu role='menu'
            - I18n.available_locales.each do |locale|
              li
                = link_to "/#{locale}" do
                  span.lang-sm.lang-lbl[lang="#{locale}"]