h3= t('method_today', date: l(Time.current.to_date))
h2.ruby-method-heading
  = @method.name + ' '
  small= "[#{@method.ruby_class}]"

- for ruby_call in @method.ruby_calls
  code.ruby-code == ruby_call[:name]

p == @method.description
a href="https://ruby-doc.org/core-2.4.1/#{@method.url}"= "https://ruby-doc.org/core-2.4.1/#{@method.url}"
p == @method.detail
