.row
  .col-md-3
  .col-md-6
    h2 = t('.sign_in')
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, t('.sign_in'), class: 'btn-danger'
    = render 'devise/shared/links'
  .col-md-3
