//=require languages.min

/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

main.container {
  margin-top: 60px;
}

.navbar-brand {
  padding: 7px;

  img {
    display: inline-block;
    max-height: 100%;
    margin-right: 5px;
  }
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.snackbar {
  background-color: #323232;
  padding: 10px 16px;
  color: #fff;
  min-width: 320px;
  max-width: 500px;
  position: fixed;
  bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.75);
  border-radius: 2px;
  z-index: 5000;
}

.snackbar-message {
  overflow: hidden;
  display: inline-block;
  padding-top: 4px;
}

.snackbar-action {
  text-transform: uppercase;
  font-weight: bold;
  float: right;
  display: inline-block;
  margin: 0 -8px 0 20px;

  button {
    color: #fef433;
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 2px;
    border: 0;
    background: #323232;

    &:hover {
      background-color: lighten(#323232, 16%);
    }
  }
}

.jumbo-danger-heading {
  font-size: 40px;
  font-weight: bold;
}

.ruby-method-heading {
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.ruby-code {
  display: table;
  margin-bottom: 8px;
}