- require 'devise/version'
p = t('.greeting', recipient: @resource.email)
p = t('.instruction')
p = link_to t('.action'), confirmation_url(@resource, confirmation_token: (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token))
