- require 'devise/version'
p = t('.greeting', recipient: @resource.email)
p = t('.instruction')
p = link_to t('.action'), edit_password_url(@resource, reset_password_token: (Devise::VERSION.start_with?('3.', '4.') ? @token : @resource.reset_password_token))
p = t('.instruction_2')
p = t('.instruction_3')