- require 'devise/version'
p = t('.greeting', recipient: @resource.email)
p = t('.message')
p = t('.instruction')
p = link_to t('.action'), unlock_url(@resource, unlock_token: (Devise::VERSION.start_with?('3.') ? @token :@resource.unlock_token))
