| <link rel="apple-touch-icon" sizes="180x180" href="
= asset_path 'favicon/apple-touch-icon.png'
| "> <link rel="icon" type="image/png" sizes="32x32" href="
= asset_path 'favicon/favicon-32x32.png'
| "> <link rel="icon" type="image/png" sizes="16x16" href="
= asset_path 'favicon/favicon-16x16.png'
| "> <link rel="manifest" href="
= asset_path 'favicon/manifest.json'
| "> <link rel="mask-icon" href="
= asset_path 'favicon/safari-pinned-tab.svg'
| " color="#5bbad5"> <link rel="shortcut icon" href="
= asset_path 'favicon/favicon.ico'
| "> <meta name="msapplication-config" content="
= asset_path 'favicon/browserconfig.xml'
| "> 
meta[name="theme-color" content="#ffffff"]
