doctype html
html
  head
    title == full_title(yield(:title))
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="theme-color" content="#222"
    = render 'application/favicon'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = render 'shared/header'

    main.container
      - flash.each do |message_type, message|
        div.alert.alert-dismissable{class="alert-#{message_type}"}
          button.close{type="button" data-dismiss="alert"} &times;
          = message
      = yield