doctype html
html
  head
    meta[http-equiv="Content-Type" content="text/html; charset=utf-8"]
    style= Rails.application.assets_manifest.find_sources('mail.css').first.to_s.html_safe
  body
    = render 'devise/shared/header'
    main.container
      = yield
